#boredActivityArea{
    display: grid;
    grid-template-rows: repeat(5, 4rem);
    grid-template-columns: 1fr 1fr;
    margin: 0 10rem;
    column-gap: 5rem;
}
#boredActivityArea p{
    display: flex;
    justify-content: center;

}
#boredActivity{
    grid-row: 1/6;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 6px groove #FAAB36;
    
}