.header{
    display:flex;
    justify-content: space-around;
    background-color: #008083;
    margin: -0.5rem -0.5rem;
}

ul{
    display:flex;

}

ul a{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FAAB36;
    border:1px solid black;
    border-radius: 75px;
    margin: 10px;
    min-width: 75px;
    padding: 2px;
    text-decoration: none;
}

ul a:hover{
    background-color: aquamarine;
    transition: .25s;
}